Django==3.0.6
pytz==2019.1
sqlparse==0.3.0
django-bootstrap4==1.0.1
django-heroku==0.3.1
google-auth==1.6.3
google-auth-httplib2==0.0.3
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
matplotlib==3.0.3
facedetection==1.2
Flask==1.1.2
notebook==6.0.3
numpy==1.16.2
Pillow==6.0.0
scikit-learn==0.20.3
scikit-neuralnetwork==0.7
scipy==1.2.1
virtualenv==16.6.0
virtualenv-clone==0.5.3
django-crispy-forms==1.9.1